@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-secondary-100;
		@apply container;
		@apply flex flex-col-reverse md:flex-row lg:flex-row;
		@apply mx-auto p-4 font-body;
	}

	h1 {
		@apply text-4xl font-bold text-primary-800 font-display mt-4;
	}

	h2 {
		@apply text-3xl font-bold text-primary-700 font-display mt-4;
	}

	h3 {
		@apply text-xl font-bold text-primary-800 font-display mt-4;
	}

	h4 {
		@apply text-lg font-bold text-primary-800 font-display;
	}

	h5 {
		@apply text-base font-bold text-primary-800 font-display;
	}

	h6 {
		@apply text-sm font-bold text-primary-800 font-display;
	}

	p {
		@apply text-base text-secondary-900 font-body;
	}

	a {
		@apply text-primary-700;
	}

	a:hover {
		@apply text-primary-800 underline;
	}

	hr {
		@apply border-t border-secondary-700 font-normal;
	}

	table {
		@apply w-full border-collapse rounded-xl;
	}

	th {
		@apply text-left border border-secondary-700 border-opacity-50 p-2 font-normal;
	}

	td {
		@apply border border-secondary-700 border-opacity-50 p-2;
	}

	ul {
		@apply list-disc pl-4;
	}

	ol {
		@apply list-decimal pl-4;
	}
	li {
		@apply text-secondary-900 text-base;
	}

	iframe {
		@apply w-full h-auto aspect-video object-contain rounded-lg my-2;
	}
}

/** HEADERS **/
@layer components {
	#header-section {
		@apply rounded-lg bg-secondary-100 pt-8 sticky top-4 h-full mr-4 overflow-y-scroll;
		@apply flex-auto lg:basis-1/6;
	}

	#header-section h2 {
		@apply mb-2 ml-4;
	}

	#header-section button {
		@apply text-primary-900 font-bold 
		w-full py-1 px-4 rounded-lg 
		flex justify-between items-center text-left text-wrap capitalize;
	}

	#header-section button:hover {
		@apply hover:bg-secondary-900 hover:bg-opacity-15;
	}

	#header-section ul {
		@apply bg-secondary-100 rounded-lg px-4 list-none capitalize;
	}

	#header-section ul li {
		@apply break-words;
	}

	.crop-category {
		@apply mb-2;
	}

	.home-link {
		@apply text-primary-900 font-bold mb-4;
	}
}

#header-section ul {
	display: none;
}

#header-section ul.show {
	display: block;
}

/** MAIN **/
@layer components {
	#main-section {
		@apply md:basis-2/3 py-4 px-6 rounded-lg;
	}
	#main-section hr {
		@apply mb-4 mt-2 opacity-50;
	}

	#main-section p {
		@apply text-pretty mt-2 mb-4;
	}
}

/** GENERAL INFORMATION **/
@layer components {
	#general-information-section {
		@apply md:basis-1/3 lg:basis-2/6 lg:col-end-13 bg-secondary-100 rounded-lg pb-4;
	}

	#general-information-section img {
		@apply rounded-lg w-full aspect-video object-cover rounded-b-none mb-1;
	}

	#general-information-section figure {
		@apply text-center text-xs text-secondary-300;
	}

	#general-information-section h1 {
		@apply break-words;
	}

	#general-information-section h2 {
		@apply text-xl font-bold;
	}

	.info-container {
		@apply px-6 py-4 grid grid-cols-1 gap-6;
	}
	#general-info {
		@apply grid grid-cols-1 gap-1;
	}

	/** DIFFICULTY RATING **/
	.difficulty-container {
		@apply grid grid-cols-1 gap-2 mt-4;
	}
	.difficulty-item-container p {
		@apply m-0;
	}

	.difficulty-item-container {
		@apply bg-secondary-200 bg-opacity-50 rounded-xl p-2;
	}

	.difficulty-item-container .overview {
		@apply collapsible p-4;
	}

	.difficulty-tag {
		@apply text-xs text-secondary-800 inline-block;
	}

	.difficulty-item-container .stars {
		@apply inline-block;
	}

	/** COMPANION PLANTS **/
	.companion-info {
		@apply mt-2;
	}

	.companion-definition {
		@apply hidden absolute mt-8 px-4 py-2 bg-secondary-900 text-white rounded-lg bg-opacity-80 sm:w-full right-0 z-10;
	}

	#companion-plants {
		@apply grid grid-cols-1 gap-1 bg-primary-200 bg-opacity-30 p-4 rounded-lg;
	}

	#companion-plants h2:before {
		content: "🌱";
		@apply mr-2;
	}

	#companion-plants h2 {
		@apply text-primary-700;
	}

	#companion-plants > p {
	}

	#companion-plants ul {
		@apply text-primary-700;
	}

	/** NON-COMPANION PLANTS **/
	#non-companion-plants {
		@apply grid grid-cols-1 gap-1 bg-warning-500 bg-opacity-20 p-4 rounded-lg;
	}
	#non-companion-plants h2 {
		@apply text-secondary-800;
	}
	#non-companion-plants h2:before {
		content: "🚫";
		@apply mr-2;
	}
	#non-companion-plants ul {
		@apply text-secondary-800;
	}

	.collapsible {
		@apply cursor-pointer;
	}
	.content {
		@apply hidden bg-secondary-100 rounded-lg p-4 transition-none duration-200 ease-in-out;
	}

	/** PROTECTING YOUR PLANTS **/
	#protecting-plant-section strong {
		@apply text-primary-700 font-extrabold mr-2;
	}

	#protecting-plant-section > p{
		@apply -mb-4 text-lg;
	}

	#protecting-plant-section li p{
		@apply -mt-2 -mb-2;
	}

	#protecting-plant-section {
		
	}
}

/** First Principles **/

@layer components {
	#first-principles {
		@apply container mx-auto p-4;
	}

	#first-principles #header-section {
		@apply rounded-lg bg-secondary-100 pt-8 sticky top-4 h-full mr-4;
		@apply flex-auto lg:basis-1/5;
	}

	#first-principles main {
		@apply container mx-auto p-4;
		@apply md:basis-4/5 py-8 px-6 rounded-lg;
	}

	#first-principles p {
		@apply text-pretty text-lg mb-2 antialiased leading-relaxed;
	}
}
